/* Container for the entire student section */
.student-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.add-project-section {
  margin-bottom: 20px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-add-form-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.project-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.project-overview {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

/* Center the search bar within its container */
.search-bar {
  width: 50%; /* Adjust the width as needed */
  max-width: 400px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Ensure the text inside the input is centered */
  margin: 0 auto; /* Center the search bar itself */
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the project list */
}

.project-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: calc(30% - 20px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.project-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.project-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.project-thumbnail {
  width: 150px;
  height: 150px;
  margin: 10px 0;
}

.edit-project-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.update-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
}

.update-form-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .search-bar {
    width: 80%; /* Adjust the width of the search bar for smaller screens */
  }
}
