/* Navbar.css */

.navbar {
  background: linear-gradient(90deg, #08070a, #a75d18); /* Purple to pink gradient */
  padding: 10px; /* Increased padding for more spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Slightly larger shadow for depth */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other content */
  transition: background-color 0.3s ease; /* Smooth transition for color changes */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Vertically align items */
}

.navbar ul li {
  margin: 0 15px; /* Increased margin for more spacing between items */
  font-size: 1.5rem; /* Slightly larger font size */
  position: relative; /* For positioning dropdown */
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px; /* Added padding for better click area */
  border-radius: 5px; /* Rounded corners for the links */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Subtle background change on hover */
  color: #fff; /* Keep text color white on hover */
}

.navbar ul li button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font: inherit; /* Use font style from parent element */
  padding: 10px 15px; /* Added padding for better click area */
  border-radius: 5px; /* Rounded corners for the buttons */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
}

.navbar ul li button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Subtle background change on hover */
  color: #fff; /* Keep text color white on hover */
}

/* Dropdown Menu Styles */
.profile-dropdown {
  position: relative; /* For dropdown positioning */
}

.dropdown-menu {
  display: block; /* Show the dropdown menu */
  position: absolute;
  top: 50%;
  right: 0;
  background: linear-gradient(90deg, #08070a, #a75d18); /* Match navbar gradient */
  border: 1px solid #fff; /* White border for visibility */
  border-radius: 4px;
  list-style: none;
  height: auto;
  padding: 15px;
  margin: 0;
  min-width: 150px;
  z-index: 2000; /* Ensure dropdown is above other content */
}

.dropdown-menu li {
  padding: 8px 12px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #fff; /* Match text color with navbar */
  display: block;
}

.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Subtle background change on hover */
}
