/* Navbar.css */

.navbar {
  background-color: #333;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other content */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center the items horizontally */
}

.navbar ul li {
  margin: 0 15px; /* Adjusted margin for spacing between items */
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.navbar ul li button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font: inherit; /* Use font style from parent element */
}