
.register-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: white; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.google-login {
  background-color: #4285F4;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form label {
  display: flex;
  align-items: center;
}

form button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

a {
  color: #f0c14b;
  text-decoration: none;
}
